__pycache__/**
notes
tests/__pycache__/**
.coverage
build/**
*.egg-info/**
build-env/**
buildenv/**
metadata.json
arriraw_legacy_metadata_reader/__pycache__/**
arriraw_legacy_metadata_reader/tests/__pycache__/**
```